@model viettours.Models.tour_manage_Result

@{
    ViewBag.Title = "Thêm mới";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#loai").change(function (event) {
            $.get("/Admin/tourmanager/updatedmlist", { l: $("#loai").val() }, function (data) {
                $("#danhmuc").empty();
                $.each(data, function (index, row) {
                    $("#danhmuc").append("<option value='" + row.id + "'>" + row.name + "</option>")
                });
            });
        });
    });
</script>
@section menulinkadmin{
    <p class="home"><a href="~/Admin/Home/Index">Home</a> > <strong>Quản lý tours</strong></p>
}
@*<h2>Create</h2>*@


@using (Html.BeginForm("Create","tourmanager",FormMethod.Post,new { enctype ="multipart/form-data"}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
     @*   <h4>tour_manage_Result</h4>
        <hr />*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.anh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="col-md-10">
                    <img id="output" class="img-rounded" alt="Ảnh" width="180" height="200" src=@Url.Content(Common.imagefolder + "logo_viettours.png") /> @*cop h0.png vào project*@
                    <p><label for="ufile" style="cursor:pointer;">Chọn file ảnh</label></p>
                    <input name="ImageFile" id="ufile" type="file" style="display:none;" onchange="loadFile(event)" />
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.thoigian, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.thoigian, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.thoigian, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.khoihanh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.khoihanh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.khoihanh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.phuongtien, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.phuongtien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phuongtien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.gia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("gia", null, "--chọn--")
                @Html.ValidationMessageFor(model => model.gia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dacdiem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("dacdiem", null, "--chọn--")
                @Html.ValidationMessageFor(model => model.dacdiem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.chitiet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("chitiet", null, "--chọn--")
                @Html.ValidationMessageFor(model => model.chitiet, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.loai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("loai", null, "--chọn--")
                @Html.ValidationMessageFor(model => model.loai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.danhmuc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("danhmuc", Enumerable.Empty<SelectListItem>(), "--select--")
                @Html.ValidationMessageFor(model => model.danhmuc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tạo mới" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở lại", "Index")
</div>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
<style>
    select {
        min-width: 30%;
    }

    input {
        min-width: 60%;
    }
</style>

<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
@if (ViewBag.Error != null)
{
    <br />
    <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
}
