@model viettours.Models.tour_manage_Result

@{
    ViewBag.Title = "Xóa tour";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
@section menulinkadmin{
    <p class="home"><a href="~/Admin/Home/Index">Home</a> > <strong>Quản lý tours</strong></p>
}
<h2 style="font-size:20px;margin-bottom:20px;">Bạn có muốn xóa tour này hay không?</h2>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @* @Html.DisplayNameFor(model => model.anh)*@
            @Html.DisplayNameFor(model => model.anh)
            @* @{ string ImagePath = Common.tourfolder + Model.anh; }
                <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />*@
            @* <br />*@
            @*  @Html.DisplayNameFor(model => Model.anh)*@
        </dt>

        <dd>
            @{ string ImagePath = Common.tourfolder + Model.anh; }
            <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
            @*@Html.DisplayFor(model => model.anh)*@
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.loai)


        </dt>

        <dd>
            @if (Model.loai == 0)
            {
                <span>Tour trong nước</span>
            }
            else
            {
                <span>Tour nước ngoài</span>
            }
        </dd>

        <dt>
            Danh mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tendm)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Trở lại", "Index")
        </div>
    }
</div>
@if (ViewBag.error != null)
{
    <br />
    <div class="alert alert-danger">@ViewBag.error</div>
    }