@model viettours.Models.danhmuc

@{
    ViewBag.Title = "Chi tiết danh mục";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
@section menulinkadmin{
    <p class="home"><a href="~/Admin/Home/Index">Home</a> > <strong>Quản lý danh mục</strong></p>
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mota)
        </dd>

       @* <dt>
            @Html.DisplayNameFor(model => model.danhmuccon.danhmuccha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.danhmuccon.danhmuccha)
        </dd>*@

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.id }) |*@
    @Html.ActionLink("Trở lại", "Index")
</p>
