@*@model IEnumerable<viettours.Models.account>*@
@using viettours.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<account>
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
@section menulinkadmin{
    <p class="home"><a href="~/Admin/Home/Index">Home</a> > <strong>Quản lý tài khoản</strong></p>
}
    @Html.ActionLink("Tạo mới", "Create" ,null,new {@class="taomoiAll"})
    <style>
        .taomoiAll{
            display:block;
            padding:10px 10px;
            background-color:#398af8;
            color:white;
            
            width:100px;
            text-decoration:none;
            text-align:center;
            margin-bottom:10px;
            border-radius:5px;

        }
        a.taomoiAll:hover, a.taomoiAll:visited, a.taomoiAll:active {
            color: white;
            text-decoration: none;
        }
    </style>
    <div style="text-align:right;padding:10px 0;">
        @using (Html.BeginForm())
        {
            <ul style="display:block;text-align:right" class="ul-timkiem">
                <li>
                    <strong>Loại tài khoản :</strong>
                    @Html.DropDownList("loaiacc", null, "", new { @class = "ddtk" })
                </li>

                <li>
                    <p>
                        <input type="submit" value="Lọc" class="tkAll" />
                    </p>

                </li>

            </ul>
            <style>
                .tkAll {
                    background-color: #0ecc4c;
                    border-radius: 5px;
                    color: #fff;
                    border: 1px solid #0ecc4c;
                    padding: 4px 15px;
                }
            </style>
        }
    </div>
<table class="table">
    <tr>
        <th>
           @* @Html.DisplayNameFor(model => model.username)*@ 
            Tên đăng nhập
        </th>
        <th>
           @* @Html.DisplayNameFor(model => model.email)*@ 
            Email
        </th>
        <th>
           @* @Html.DisplayNameFor(model => model.diachi)*@ 
            Địa chỉ
        </th>
        <th>
           @* @Html.DisplayNameFor(model => model.quyenhan)*@ 
            Quyền hạn
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diachi)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.quyenhan)*@

                @{
                    var quyenhan = "";
                }
                @* @Html.DisplayFor(modelItem => item.gioitinh)*@
                @if (item.quyenhan == 2)
                {
                    quyenhan = "Khách hàng";
                    <span>@quyenhan</span>
                }
                else if (item.quyenhan == 1)
                {
                    quyenhan = "mod";
                    <span>@quyenhan</span>
                }
                else
                {
                    quyenhan = "admin";
                    <span>@quyenhan</span>
                }
            </td>
            <td>
                @if (item.quyenhan != 2)
                {
                    @Html.ActionLink("Sửa", "Edit", new { id = item.id }) <span>|</span>
                    @Html.ActionLink("Xóa", "Delete", new { id = item.id })<span>| </span>
                }

                @Html.ActionLink("Xem chi tiết", "Details", new { id = item.id })

            </td>
        </tr>
    }

</table>
<nav class="post-nav" style="text-align:center;height:60px;">
    <span style="color:#f40f0f;font-weight:600;font-family:sans-serif;;font-size:15px;">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </span>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, loaiacc = ViewBag.currentloaiacc }))
</nav>
<style>
    .ul-timkiem li {
        display: inline-block;
        margin-right: 10px;
    }

    .ddtk {
        width: 130px;
    }
</style>