@using viettours

<footer id="footer-duoi" class="clearfix" role="contentinfo">
    <aside id="text-6" class="widget widget_text catalyst-widget-area menu_footer">
        <div class="widget-wrap">
            <div class="textwidget">
                <div>
                    <div style="font-weight:bold;margin-top:10px;" align="center">
                        <a href="@Url.Action("DisplayAllTour","toursss")">Viettours | </a>
                        <a href="@Url.Action("XeVanChuyen","Home")">Xe vận chuyển |</a>
                        <a href="@Url.Action("ChinhSachBaoMat","Home")">Chính sách bảo mật |</a>
                        <a href="@Url.Action("DieuKienChung","Home")">Điều kiện chung |</a>
                        <a href="@Url.Action("DuLichMoiTruong","Home")">Du lịch và môi trường |</a>
                        <a href="@Url.Action("DisplayAllPost","postss")">Tin du lịch |</a>
                        <a href="@Url.Action("ThemLienHe","Home")">Liên hệ</a>
                    </div>
                    <table width="98%" border="0" style="margin: 0 auto 0 auto;">
                        <tbody>
                            <tr>
                                <td width="65%" valign="top">
                                    <strong style="color:#2A8C94;">VIETTOURS</strong> <br>
                                    19B Mai Thị Lựu, Phường Đa Kao, Quận 1, TP.HCM - Việt Nam<br>
                                    <strong>Điện thoại:</strong> (84-8) 3821 7217 - 3821 8218 * <strong>Fax:</strong> (84-8) 3821 8999.<br>
                                    <strong>Email:</strong> <a style="color:#000;" href="#">viettours@viettours.com.vn</a> * <strong>Website:</strong> <a style="color:#000;" href="">www.viettours.com.vn</a> - <a style="color:#000;" href="#">www.viettourism.com</a>
                                </td>
                                <td width="35%" valign="top">
                                    <strong>
                                        <br>
                                        Chi nhánh Viettours Hà Nội:
                                    </strong> <br>
                                    36 Đào Tấn, Quận Ba Đình, TP.Hà Nội – Việt Nam.<br>
                                    <strong>Điện thoại:</strong> (84-4) 3766 3636 * <strong>Fax:</strong> (84-4) 3766 3637.
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">Bản quyền © 2018 thuộc về Viettours. <a style="color:#000;" href="#" target="_blank">Thiết kế web </a> bởi <a style="color:#000;" href="#" target="_blank">SGC</a></td>
                                <td valign="top">

                                    
                                    <noscript>
                                        <a href="#" target="_blank"><img src="#" alt="web stats" border="0"></a>
                                    </noscript>
                                    <p></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </aside>
    <p class="footer-content footer-center">
        <span class="footer-text"></span>
    </p>
</footer>

